:root {
    --color-primary: #1e1e1e;
    --color-secondary: #1c1c1d;
    --color-tertiary: #1a1b1b;
    --color-quaternary: #181a19;
    --color-quinary: #171816;
    font-size: 20px;
}

html {
    background-image: linear-gradient( to right top, var(--color-primary), var(--color-secondary), var(--color-tertiary), var(--color-quaternary), var(--color-quinary) );
    min-height: 100vh;
    max-height: max-content;
}

body {
    margin: 0;
    padding: 0.5rem 0rem 2rem 0rem;
    overflow-x: hidden;
    min-width: 320px;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 1.4285em;
    color: #fff;
    min-height: 100vh;
}

h1 {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-align: center;
    margin-bottom: 1rem;
}

p {
    font-size: 1.14285714rem;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    color: #fff;
    text-align: center;
    margin-bottom: 1.5rem;
    display: block;
}

.app-container {
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    max-width: 700px!important;
    line-height: 1.5;
    margin-left: auto!important;
    margin-right: auto!important;
    font-size: 1.14285714rem;
}

.groups-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding: 0;
    margin-top: -1rem;
    margin-bottom: -1rem;
    margin-left: -1rem;
    margin-right: -1rem;
    gap: 2rem;
}

.groups-container>div {
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.groups-container>div:has(.groups-ids-container) {
    cursor: text;
}

.groups-ids-container {
    width: 62.5%!important;
}

.groups-ids-container>textarea {
    padding: 0.35rem 0.5rem;
}

.groups-container>div>textarea {
    overflow: auto;
    background-image: linear-gradient( to right top, #252527, #27272a, #2a2a2c, #2c2c2f, #2f2f32 ) !important;
    color: rgb(225, 216, 199) !important;
    border: 1px solid #cdc9d1 !important;
    width: 100%;
    font-family: sans-serif;
    line-height: 1.15;
    margin: 0;
    font-size: 0.90rem;
    cursor: auto;
    box-sizing: border-box;
}

.checked-groups-ids-container {
    width: 37.5%!important;
}

#buttons-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 0.5rem;
}

#buttons-container > button{
    background: gray;
    color: #fff !important;
    border: 1px solid #fff !important;
    width: 100%;
    font-family: sans-serif;
    line-height: 1.15;
    margin: 0;
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-size: 1.14285714rem;
    font-weight: 700;
    border-radius: 0.28571429rem;
    text-transform: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background 0.1s ease,color 0.1s ease,-webkit-box-shadow 0.1s ease;
    transition: background 0.1s ease,color 0.1s ease,-webkit-box-shadow 0.1s ease;
    transition: box-shadow 0.1s ease,background 0.1s ease,color 0.1s ease;
    transition: box-shadow 0.1s ease,background 0.1s ease,color 0.1s ease,-webkit-box-shadow 0.1s ease;
}

#buttons-container > button#check-button {
    background: rgb(211, 10, 37);
    width: 65%;
}

#buttons-container > button#check-button:hover {
    background: rgb(167, 31, 7);
}

#buttons-container > button#export-button {
    background: rgb(36, 116, 235);
    width: 35%;
}

#buttons-container > button#export-button:hover:not(.disabled) {
    background: rgb(20, 85, 182);
}

.password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

label[for="password"] {
    font-size: 0.95rem;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    color: #fff;
    text-align: center;
    display: inline-block;
}

#password {
    background-image: linear-gradient( to right top, #252527, #27272a, #2a2a2c, #2c2c2f, #2f2f32 ) !important;
    color: rgb(225, 216, 199) !important;
    border: 1px solid #cdc9d1 !important;
    height: max-content;
    font-size: 0.80rem;
    border-radius: 5px;
    padding: 2px 3px;
}

.disabled {
    filter: brightness(0.5);
}

.hidden {
    display: none;
}